body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  #calculator {
    border: 4px solid yellowgreen;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: aqua;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color :aquamarine;
    color: blue;
  }

  button {
    width: 48px;
    height: 48px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
  background-color: #04AA6D;
   border-radius: 10px;
   border-color: chocolate;
   transition: 0.4s;
  }
  button :hover {
    opacity: 0.5;
    background-color: violet;
    color: yellowgreen;
    

  }
  .btn-group button:hover {
    background-color: #091809;
  }